.container {
    display: grid;
    grid-template-columns: 200px 1fr;
}

aside {
    background: lightgray;
}

.card {
    background: #eee;
    margin: 10px;
    padding: 10px;
}

.card:hover {
    transform: scale(1.05);
}